<div class="row container-home">

    <div class="row m-0 mt-5" *ngIf="allBookmarks.length">
        <div class="p-o mb-4">
            <h2 class="col-sm-12 p-0 home-headers">Bookmark News
            </h2>
        </div>
    </div>

    <div style="height: 90vh; margin:0 auto" *ngIf="!allBookmarks.length">
        <h2>No Bookmarks Found!</h2>
    </div>

    <div class="row p-0 m-0" style="min-height: 50vh;">

        <div class="card border-0" *ngFor="let item of allBookmarks">
            <div class="row no-gutters">
                <div class="col-auto all-news-img-container">
                    <img [src]="item.urlToImage" style='height: 100%; width: 100%;' class="img-fluid" alt="asd">
                </div>
                <div class="col">
                    <div class="card-block px-3 py-3">
                        <h4 class="all-news-tile-title cursor-pointer w-75" (click)="onNewsSelect(item)">{{item.title}}
                        </h4>
                        <div class="bookmark-container w-25">
                            <div class="holder" (click)="onClickBookMark(item)">
                                <img src="assets/images/blue-bookmark.svg" />
                            </div>
                        </div>
                        <p class="all-news-tile-desc mt-3">{{item.description}}</p>
                    </div>

                    <div class="row container ml-1">
                        <div class="chip">
                            {{item.source.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-dark">
                <hr>
            </div>
        </div>




    </div>
</div>