<div class="row footer">
    <div class="col-sm-8">
        <div class="col-sm-4 pt-5">
            <img src="assets/images/footer_logo.svg" />
        </div>
        <div class="col-sm-8 pt-4 pl-0 footer-text">
            <span class="col-sm-4"> Terms of Use </span>
            <span class="col-sm-4">Privacy Policy</span>
            <span class="col-sm-4">Trademarks</span>
        </div>
    </div>
    <div class="d-flex col-sm-4 justify-content-end">
        <div class="col-sm-2 pt-5">
            <div class="col-sm-2 ">
                <span><img src="assets/images/Facebook.svg" /></span>
            </div>
        </div>
        <div class="col-sm-2 pt-5">
            <div class="col-sm-2 ">
                <span><img src="assets/images/Twitter.svg" /></span>
            </div>
        </div>
    </div>

</div>